html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, main, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, main,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  a:hover, a:focus, a:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block; }

button {
  background: none;
  margin: 0;
  padding: 0;
  border: none; }

label, button {
  cursor: pointer; }

input, select {
  vertical-align: middle; }

input, select, textarea, button {
  font: inherit; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

*, *:before, *:after, * * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important; }

/**/
/* F */
/* R */
/* I */
/* T */
/* H */
/*
	layout
*/
/*
	positioning & display
*/
/*	
	typography
*/
/*
	backgrounds
*/
@font-face {
  font-family: 'eideticNeo';
  src: url("../fonts/eidetneoreg-071211001EmigreWebOnly.woff") format("woff"); }
@font-face {
  font-family: 'eideticNeoSmallCaps';
  src: url("../fonts/eidetneosma-071211001EmigreWebOnly.woff") format("woff"); }
body {
  line-height: 1.5;
  font-family: "eideticNeo, Times, serif";
  font-weight: 300; }

h1 {
  text-align: center;
  font-family: 'eideticNeoSmallCaps';
  margin: 2.2em 0 1.5em 0;
  text-transform: lowercase;
  letter-spacing: 0.06em;
  font-weight: 300;
  font-size: 1.2em; }
  @media screen and (min-width: 768px) {
    h1 {
      margin: 3em 0 2em 0;
      font-size: 1em; } }
  @media screen and (min-width: 1024px) {
    h1 {
      margin: 6em 0 3em 0; } }
  .page-movie h1 {
    margin-top: 4em; }

.content-wrapper p {
  font-family: 'eideticNeo';
  font-size: 20px;
  max-width: 30em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .content-wrapper p {
      font-size: 1em; } }
.content-wrapper li {
  font-size: 20px; }
  @media screen and (min-width: 768px) {
    .content-wrapper li {
      font-size: 1em; } }

ul {
  font-family: 'eideticNeo'; }

p.address {
  font-family: 'eideticNeoSmallCaps';
  text-transform: lowercase;
  letter-spacing: 0.05em; }

p.back {
  text-align: center;
  margin-bottom: 0;
  z-index: 3;
  /* higher than content, below mobile menu overlay...  */
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  max-width: none; }
  p.back a {
    display: block;
    padding: 2em 0;
    font-family: 'eideticNeoSmallCaps';
    text-transform: lowercase; }
  @media screen and (min-width: 768px) {
    p.back {
      position: fixed;
      margin-top: 0; } }

html, body {
  min-height: 100%; }

html {
  overflow-x: hidden;
  overflow-y: scroll; }

@media screen and (min-width: 1024px) {
  body {
    padding-bottom: 3em; } }

.content-wrapper {
  margin: 1em 1em 4em 1em; }
  @media screen and (min-width: 768px) {
    .content-wrapper {
      margin-top: 2em;
      margin-bottom: 2em; } }
  @media screen and (min-width: 1024px) {
    .content-wrapper {
      padding-bottom: 3em; } }

/* home page */
.page-home .menu-link {
  display: none; }

body.page-menu .content-wrapper {
  height: 100%;
  box-sizing: border-box;
  position: relative; }
  @media screen and (min-width: 768px) {
    body.page-menu .content-wrapper {
      margin-top: 1em; } }
  @media screen and (min-width: 1024px) {
    body.page-menu .content-wrapper {
      margin-top: 2em; } }
  body.page-menu .content-wrapper h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.7em; }
    @media screen and (max-width: 767px) {
      body.page-menu .content-wrapper h1 {
        display: none; } }
body.page-menu .frith-mobile {
  display: block;
  width: 100%;
  height: calc(100vh - 2em);
  max-width: 400px;
  position: relative;
  margin: 0 auto;
  z-index: 1; }
  body.page-menu .frith-mobile svg {
    display: block;
    width: 90%;
    height: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    margin-left: 5%;
    margin-top: -2%; }
  @media screen and (min-width: 700px) {
    body.page-menu .frith-mobile {
      display: none; } }
  @media (max-height: 570px) {
    body.page-menu .frith-mobile svg {
      width: 85%;
      margin-left: 7.5%;
      margin-top: -11%; } }
  @media (max-height: 570px) and (orientation: landscape) {
    body.page-menu .frith-mobile {
      position: relative;
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
      margin-top: 15%;
      width: 65%;
      /*
      			svg {
      				transform: rotate(-90deg) translateY(-0%) translateX(50%);
      				margin-top:0; width: 80%; margin-left: 10%; margin-top:-25%;
      			}
      */ }
      body.page-menu .frith-mobile .links {
        position: absolute;
        top: -40%;
        right: 0;
        bottom: -35%;
        left: 0; } }
  @media (min-height: 570px) and (max-height: 700px) and (orientation: landscape) {
    body.page-menu .frith-mobile {
      width: 90%;
      /*
      			svg {
      				margin-top:-20%;
      			}
      */ } }
body.page-menu .frith {
  display: none;
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  z-index: 1; }
  body.page-menu .frith svg {
    display: block;
    width: 99.4%;
    height: auto;
    padding-top: 10px;
    margin-left: 2px; }
  @media screen and (min-width: 700px) {
    body.page-menu .frith {
      display: block;
      height: 100vh;
      max-height: 602px;
      min-height: 350px;
      margin-top: 2em; }
      body.page-menu .frith svg {
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); } }
  body.page-menu .frith a {
    display: inline-block; }
  body.page-menu .frith .f:hover .letter {
    fill: #406dfc; }
  body.page-menu .frith .r:hover .letter {
    fill: #c7fdcf; }
  body.page-menu .frith .i:hover .letter {
    fill: #ff2b06; }
  body.page-menu .frith .t:hover .letter {
    fill: #fefda3; }
  body.page-menu .frith .h:hover .letter {
    fill: #ffbd23; }
body.page-menu .links a {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  z-index: 10; }
body.page-menu .links__1 {
  top: 0;
  left: 0;
  width: 30%;
  height: 26%; }
body.page-menu .links__2 {
  top: 10%;
  right: 10%;
  width: 40%;
  height: 20%; }
body.page-menu .links__3 {
  top: 45%;
  left: 10%;
  width: 40%;
  height: 16%; }
body.page-menu .links__4 {
  top: 70%;
  left: 17.5%;
  width: 45%;
  height: 25%; }
body.page-menu .links__5 {
  top: 75%;
  right: 0;
  width: 30%;
  height: 30%; }

/* clients page */
.page-clients .content-wrapper ul {
  max-width: 100%;
  margin: 0 auto;
  font-size: 1em; }
  @media screen and (min-width: 768px) {
    .page-clients .content-wrapper ul {
      max-width: 90%;
      -moz-column-count: 3;
      -moz-column-gap: 20px;
      -webkit-column-count: 3;
      -webkit-column-gap: 20px;
      column-count: 3;
      column-gap: 20px; } }
.page-clients .content-wrapper li {
  list-style: none;
  line-height: 1.1;
  padding-top: 0.7em; }
  @media screen and (min-width: 768px) {
    .page-clients .content-wrapper li {
      padding-left: 3em; } }

/* services page */
.page-services .content-wrapper .service-columns {
  font-size: 1em;
  margin: 0 auto;
  max-width: 30em; }
  .page-services .content-wrapper .service-columns .col {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0;
    width: 100%; }
    @media screen and (min-width: 545px) {
      .page-services .content-wrapper .service-columns .col {
        width: 49.5%; } }
.page-services .content-wrapper ul {
  font-size: 1em; }
.page-services .content-wrapper li {
  list-style: none;
  line-height: 1.1;
  padding-top: 0.7em;
  padding-left: 0; }

p.film-index-link {
  padding: 4em 0;
  text-align: center;
  font-family: 'eideticNeoSmallCaps';
  text-transform: lowercase; }

/* film-index page */
.page-film-index strong {
  font-weight: inherit; }
.page-film-index ul {
  margin: 0 auto;
  font-size: 1em; }
  .page-film-index ul li {
    position: relative;
    list-style: none;
    line-height: 1.1;
    margin: 0.7em auto;
    padding-top: 0;
    padding-left: 0; }
    .page-film-index ul li ul {
      padding-left: 3em; }
    @media screen and (min-width: 768px) {
      .page-film-index ul li ul {
        padding-left: 12em; }
      .page-film-index ul li strong {
        position: absolute;
        left: 0;
        top: 0; } }

/* work page */
.page-work h1 {
  margin-bottom: 0; }

.movie-wrapper {
  margin-top: 8em; }
  .movie-wrapper + h1 {
    padding-top: 2px; }

/* responsive video embed */
.movie-wrapper {
  position: relative;
  margin-top: 8em;
  max-width: 640px;
  max-height: 457px;
  margin-left: auto;
  margin-right: auto; }
  .movie-wrapper .movie-small {
    display: block; }
    @media screen and (min-width: 768px) {
      .movie-wrapper .movie-small {
        display: none; } }

.movie-wrapper iframe,
.movie-wrapper object,
.movie-wrapper embed,
.movie-wrapper video {
  display: none;
  width: 100%;
  max-width: 640px; }
  @media screen and (min-width: 768px) {
    .movie-wrapper iframe,
    .movie-wrapper object,
    .movie-wrapper embed,
    .movie-wrapper video {
      display: block; } }
.movie-wrapper.is--reveal-video .movie-small {
  display: none; }
.movie-wrapper.is--reveal-video video {
  display: block; }

body {
  max-width: 900px;
  margin: 0 auto;
  /* movie page */ }
  body.page-movie {
    max-width: 590px;
    margin-top: 5em; }
    @media screen and (min-width: 768px) {
      body.page-movie {
        margin-top: 7em; } }
    @media screen and (min-width: 1024px) {
      body.page-movie {
        margin-top: 10em; } }

img {
  max-width: 100%;
  height: auto; }

a:hover,
a:visited:hover {
  text-decoration: underline; }

/*
    elements
*/
/*
    blocks
*/
/*
    views
*/
/* work page */
.page-work h1 {
  margin-bottom: 0; }

/* Instagram page */
.blog, .archive {
  max-width: 1200px; }
  .blog .content-wrapper, .archive .content-wrapper {
    position: relative;
    margin: 1em 0; }
    @media screen and (min-width: 768px) {
      .blog .content-wrapper, .archive .content-wrapper {
        margin: 1em; } }
  .blog aside, .archive aside {
    font-size: 1.2em; }
    @media screen and (min-width: 768px) {
      .blog aside, .archive aside {
        font-size: 1em; } }
  .blog aside ul,
  .blog aside li, .archive aside ul,
  .archive aside li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .blog aside ul,
      .blog aside li, .archive aside ul,
      .archive aside li {
        text-align: left; } }
    .blog aside ul ul,
    .blog aside li ul, .archive aside ul ul,
    .archive aside li ul {
      margin: 0.25em 0 1em 0; }
  .blog .images, .archive .images {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
    .blog .images a, .archive .images a {
      display: inline-block; }
    .blog .images img, .archive .images img {
      margin-bottom: 2.5em;
      position: relative;
      z-index: 5; }
  .blog .sidebar-left, .archive .sidebar-left {
    margin-bottom: 1em;
    padding-top: 3px; }
    @media screen and (min-width: 768px) {
      .blog .sidebar-left, .archive .sidebar-left {
        margin-bottom: 0;
        width: 10%;
        position: fixed;
        top: 160px;
        left: 5%; } }
    @media screen and (min-width: 1024px) {
      .blog .sidebar-left, .archive .sidebar-left {
        left: 50%;
        margin-left: -400px; } }
    @media screen and (min-width: 1200px) {
      .blog .sidebar-left, .archive .sidebar-left {
        margin-left: -500px; } }
  @media screen and (min-width: 768px) {
    .blog .sidebar-right li, .archive .sidebar-right li {
      text-align: right; } }
  .blog .sidebar-right ul ul li, .archive .sidebar-right ul ul li {
    line-height: 1.2; }
  @media screen and (min-width: 768px) {
    .blog .sidebar-right, .archive .sidebar-right {
      padding-right: 38px;
      width: 10%;
      position: fixed;
      top: 160px;
      right: 5%; } }
  @media screen and (min-width: 1024px) {
    .blog .sidebar-right, .archive .sidebar-right {
      right: 50%;
      margin-right: -400px; } }
  @media screen and (min-width: 1200px) {
    .blog .sidebar-right, .archive .sidebar-right {
      margin-right: -500px; } }

.instagram-link img {
  width: 16px;
  height: 16px; }

.wp-video {
  position: relative;
  height: 0;
  width: 100% !important;
  max-width: 30em;
  padding-bottom: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    .wp-video {
      padding-bottom: 28em; } }

.mejs-container {
  width: auto !important;
  height: auto !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white; }

/*
    low priority
*/
@keyframes fadeOut {
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    z-index: -100; } }
/* custom styles */
a.menu-link {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 44px;
  background: #fff url(../img/menu-toggle.png) 0 4px no-repeat;
  background-size: 36px 36px;
  display: block;
  overflow: hidden;
  text-indent: -999em;
  z-index: 10; }
  @media screen and (min-width: 768px) {
    a.menu-link {
      display: none; } }

.page-work-home .menu-link {
  display: none; }

/* menu overlay */
.menu-overlay {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 2em;
  background: #fff; }
  .menu-overlay h2 {
    margin-top: .5em;
    margin-bottom: 1.5em;
    font-size: 1.3em;
    font-family: 'eideticNeoSmallCaps';
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 0.06em; }
  .menu-overlay ul {
    margin: 0;
    margin-top: 20%;
    padding: 0;
    font-size: 2em; }
  .menu-overlay li {
    list-style: none;
    margin-bottom: 0;
    height: 16%; }
